{% extends "base.html" %}


{% block content %}

<style>
    .column-form {
        border-bottom: 1px solid black;
    }
    .hidden {
        display: none
    }
</style>
{% if message %}

<p>{{ message }}</p>
{% endif %}
<div style='margin-top:30px;'>
    <form action='' method="POST">
        <h1>New schema</h1>
        {% csrf_token %}
       {% for field in form %}
       <div class='row'>
        {{ field }}


        </div>
       {% endfor %}


        {% if formset %}
        <h3>Type column</h3>
        {{ formset.management_form }}
        <div id='column-form-list'>
            {% for form in formset %}
                    <div class='column-form'>
                        {{ form }}
                    </div>
            {% endfor %}
        </div>

        <div id='empty-form' class="hidden">{{ formset.empty_form}}</div>
        <button id='add-more' type='button'>Add more</button>
        {% endif %}
        <button style='margin-top:10px;' type='submit' >Save</button>
    </form>
</div>

<script>

    const addMoreBtn = document.getElementById('add-more')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')

    addMoreBtn.addEventListener('click', add_new_form)
    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
        const currentTypeColumnForms = document.getElementsByClassName('column-form')
        const currentFormCount = currentTypeColumnForms.length // + 1
        const formCopyTarget = document.getElementById('column-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'column-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
    }



</script>



{% endblock content %}