<div id={{forms.prefix}} class='column-form'>

                    <span class="block"><label>{{forms.title.label}}:{{forms.title}}</label></span>

                    <span class="block"><label>{{forms.type.label}}: {{forms.type}}</label></span>

                    {% if forms.type.value == "integer" %}
                        <span id="magiya-com-ned-addid_{{forms.prefix}}-type"  style="visibility: visible">
                    {% else %}
                        <span id="magiya-com-ned-addid_{{forms.prefix}}-type"  style="visibility: hidden">
                    {% endif %}
                            <span class="block"><label>{{forms.From.label}}:{{forms.From}}</label></span>
                            <span class="block"><label>{{forms.To.label}}:{{forms.To}}</label></span>
                        </span>

                    <span class="block"><label>{{forms.ORDER.label}}:{{forms.ORDER}}</label></span>


                   {% if schema == "Edit Schema" %}
                            <span class="block"><a href="delete/{{forms.prefix}}/">Delete</a></span>
                   {% endif %}
                    {{forms.errors}}
                </div>
