{% extends "base.html" %}


{% block content %}

<style>
    .column-form {
        border-bottom: 1px solid black;
    }
    .button_1{
    .hidden {
        display: none;
    }
    input, label {
        display:block;
        }
    select, label {
        display:block;
        }
    .block {
        display: inline-block;
        {

</style>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<div style='margin-top:30px;'>
    <form action='' method="POST">
       <h1>{{ schema }}</h1>
           {% csrf_token %}
 {% for field in form %}
       <div class='row'>
           {{ field }}
           {{field.errors}}
       </div>
 {% endfor %}

 {% if formset %}
    <h3>Schema columns</h3>

    {{ formset.management_form }}
        <div id='column-form-list'>
            {% for forms in formset %}
                <div id={{forms.prefix}} class='column-form'>

                    <span class="block"><label>{{forms.title.label}}:{{forms.title}}</label></span>

                    <span class="block"><label>{{forms.type.label}}: {{forms.type}}</label></span>

                    {% if forms.type.value == "integer" %}
                        <span id="magiya-com-ned-addid_{{forms.prefix}}-type"  style="visibility: visible">
                    {% else %}
                        <span id="magiya-com-ned-addid_{{forms.prefix}}-type"  style="visibility: hidden">
                    {% endif %}
                            <span class="block"><label>{{forms.From.label}}:{{forms.From}}</label></span>
                            <span class="block"><label>{{forms.To.label}}:{{forms.To}}</label></span>
                        </span>

                    <span class="block"><label>{{forms.ORDER.label}}:{{forms.ORDER}}</label></span>


                   {% if schema == "Edit Schema" %}
                            <span class="block"><a href="delete/{{forms.prefix}}/">Delete</a></span>
                   {% endif %}

                </div>

            {% endfor %}
            {{ formset.non_form_errors }}

        </div>




<div id="empty-form" class="hidden">
      <span class="block"><label for="id_form-__prefix__-title">Title:
      <input type="text" name="form-__prefix__-title" maxlength="100" id="id_form-__prefix__-title" size="30">
      </label></span>

      <span class="block"><label for="id_form-__prefix__-type" >Type:
      <select name="form-__prefix__-type" id="id_form-__prefix__-type" onchange="openBlock(id, this.value)">


        <option value="full_name">Full name</option>
        <option value="integer">integer</option>
        <option value="email">Email</option>
        <option value="phone_number">Phone numbers</option>
        <option value="address">Address</option>

      </select>
      </label></span>

      <span id="magiya-com-ned-addid_form-__prefix__-type" style="visibility: hidden">

        <span class="block"><label >From:
        <input type="text" name="form-__prefix__-From" id="id_form-__prefix__-From" size="8">
        </label></span>

        <span class="block"><label for="id_form-__prefix__-To">To
        <input type="text" name="form-__prefix__-To" id="id_form-__prefix__-To" size="8">
        </label></span>

      </span>

      <span class="block"><label for="id_form-__prefix__-ORDER">Order:
      <input type="number" name="form-__prefix__-ORDER" id="id_form-__prefix__-ORDER">
      </label></span>

      {% if schema == "Edit Schema" %}
        <span class="block"><a href="delete/form-__prefix__/">Delete</a></span>
      {% endif %}


        </div>


        <button id='add-more' style='margin-top:10px;' type='submit'>Add</button>
        {% endif %}
        <button style='margin-top:10px;' type='submit' class="button_1">Save</button>

    </form>
</div>

{% include 'script_NewSchema.html' %}

{% endblock content %}