<style>
    .schema {
        width: 305px;
        height: 35px;
        }
    .schema-2 {
        width: 100px;
        height: 30px;
        }
    .column-form {
        border-bottom: 1px solid black;
    }
    .button_1{
        font-size:30px;
        border-radius: 4px;
        background-color: #008CBA;
        position: absolute;
        right: 0;
        }
    .button_2{
        font-size:20px;
        border-radius: 4px;
        background-color: #008CBA;
        margin-top:10px;
        }
    .hidden {
        display: none;
    }
    input, label {
        display:block;
        }
    select, label {
        display:block;
        }
    .block {
        display: inline-block;
        {

</style>